@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --nav-bg: #000000;
  --main-clr: lime;
  --nav-shadow: 0px 3px var(--main-clr);
}



/* NAVBAR CSS ------------------------------------------------------------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: var(--nav-shadow);
  z-index: 1000;
}

nav .logo img{
  height: 85px;
  padding: 10px;
}

nav ul {
  --padding: 20px;
  --font-size: 17px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  overflow-y: hidden;
  transition: 1s cubic-bezier(.68,-0.55,.27,10.55);
  box-shadow: var(--nav-shadow);
}

nav ul li {
  padding: var(--padding);
  margin: 10px;
  font-size: 20px;
  background-color: transparent;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 10px;
    background-image: linear-gradient(328deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 25%,rgba(226, 226, 226, 0.05) 25%, rgba(226, 226, 226, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(216, 216, 216, 0.05) 75%, rgba(216, 216, 216, 0.05) 100%),linear-gradient(172deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%,rgba(108, 108, 108, 0.05) 25%, rgba(108, 108, 108, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(236, 236, 236, 0.05) 75%, rgba(236, 236, 236, 0.05) 100%),linear-gradient(207deg, rgba(153, 153, 153, 0.05) 0%, rgba(153, 153, 153, 0.05) 25%,rgba(83, 83, 83, 0.05) 25%, rgba(83, 83, 83, 0.05) 50%,rgba(5, 5, 5, 0.05) 50%, rgba(5, 5, 5, 0.05) 75%,rgba(82, 82, 82, 0.05) 75%, rgba(82, 82, 82, 0.05) 100%),linear-gradient(297deg, rgba(26, 26, 26, 0.05) 0%, rgba(26, 26, 26, 0.05) 25%,rgba(223, 223, 223, 0.05) 25%, rgba(223, 223, 223, 0.05) 50%,rgba(232, 232, 232, 0.05) 50%, rgba(232, 232, 232, 0.05) 75%,rgba(153, 153, 153, 0.05) 75%, rgba(153, 153, 153, 0.05) 100%),linear-gradient(204deg, rgba(120, 120, 120, 0.05) 0%, rgba(120, 120, 120, 0.05) 25%,rgba(191, 191, 191, 0.05) 25%, rgba(191, 191, 191, 0.05) 50%,rgba(246, 246, 246, 0.05) 50%, rgba(246, 246, 246, 0.05) 75%,rgba(123, 123, 123, 0.05) 75%, rgba(123, 123, 123, 0.05) 100%),linear-gradient(90deg, rgb(79,255,32),rgb(37,255,50));
    border: 2px solid rgb(0, 255, 26);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    transition: 0.5s;
}

/* nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.7px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
} */

nav ul li a:hover {
  width: 100%;
  color: #761951;
    background-image: linear-gradient(508deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 25%,rgba(226, 226, 226, 0.05) 25%, rgba(226, 226, 226, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(216, 216, 216, 0.05) 75%, rgba(216, 216, 216, 0.05) 100%),linear-gradient(352deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%,rgba(108, 108, 108, 0.05) 25%, rgba(108, 108, 108, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(236, 236, 236, 0.05) 75%, rgba(236, 236, 236, 0.05) 100%),linear-gradient(387deg, rgba(153, 153, 153, 0.05) 0%, rgba(153, 153, 153, 0.05) 25%,rgba(83, 83, 83, 0.05) 25%, rgba(83, 83, 83, 0.05) 50%,rgba(5, 5, 5, 0.05) 50%, rgba(5, 5, 5, 0.05) 75%,rgba(82, 82, 82, 0.05) 75%, rgba(82, 82, 82, 0.05) 100%),linear-gradient(477deg, rgba(26, 26, 26, 0.05) 0%, rgba(26, 26, 26, 0.05) 25%,rgba(223, 223, 223, 0.05) 25%, rgba(223, 223, 223, 0.05) 50%,rgba(232, 232, 232, 0.05) 50%, rgba(232, 232, 232, 0.05) 75%,rgba(153, 153, 153, 0.05) 75%, rgba(153, 153, 153, 0.05) 100%),linear-gradient(384deg, rgba(120, 120, 120, 0.05) 0%, rgba(120, 120, 120, 0.05) 25%,rgba(191, 191, 191, 0.05) 25%, rgba(191, 191, 191, 0.05) 50%,rgba(246, 246, 246, 0.05) 50%, rgba(246, 246, 246, 0.05) 75%,rgba(123, 123, 123, 0.05) 75%, rgba(123, 123, 123, 0.05) 100%),linear-gradient(270deg, rgb(79,255,32),rgb(37,255,50));
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    transition: 0.5s;
}

nav .menu {
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

nav .menu span {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: #fff;
  transition: 0.3s ease;
  transform-origin: left;
}

nav .menu.active span {
  background: var(--main-clr);
}

nav .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}

@media (max-width: 910px) {
  nav .menu {
    display: flex;
  }

  nav ul {
    --height: 0px;

    flex-direction: column;
    background: var(--nav-bg);
    position: absolute;
    width: 100%;
    left: 0;
    top: 76px;
    height: var(--height);
    /* height: auto; */
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  }
  nav ul.active {
    --height: calc(
      (((var(--padding) * 4) + (var(--font-size) * 0.7))) * var(--childenNumber)
    );
    /*   (Block Level Padding + The Font Size) * The Number of Children   */
    
    
    transition: 1s ease;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    width: 100%;
    text-transform: capitalize;
  }
}

/* END OF NAVBAR CSS */

.affix {
  padding: 0;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
  background-color: #aa00ff;
  backdrop-filter: blur(20px);
  border-bottom: 3px groove rgb(21, 255, 0);
  z-index: 1000;
  
}


/* BODY CSS --------------------------------------------------------------------*/

/* === EMPTY BOX AT THE END OF PAGES === */
.box1{
  padding: 0%;
  margin: 0%;
  height: 1000px; 
  background-color: white; 
  color:rgb(0, 0, 0); 
  text-align:center;
}

/* === INDEX PAGE MAIN IMAGE === */
.img1{
  width: 100%;
  max-height: 870px;
  height: auto;
}

/* === INDEX PAGE MAIN TITLE Pt.1 === */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* === INDEX PAGE MAIN TITLE Pt.2 === */
#title1{
  color:white;
  font-size: 65px;
  font-weight: 500;
  text-align: center;
  text-shadow: none;
}

/* === TEXT ABOVE CAROUSEL === */
.p1{
  margin: 40px;
  text-align: center;
  color: rgb(0, 255, 38);
  font-size: 60px;
  font-weight: 500;
}

/* === TEXT BELOW CAROUSEL === */
.p2{
  margin: 20px;
  text-align: center;
  color: rgb(8, 109, 23);
  font-size: 40px;
  font-weight: 500;
}


#branch{
  height: 60px;
  border: 5px solid lime;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 0%;
}

#branch1{
  height: 60px;
  border: 5px solid lime;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 50%;
}

#branch2{
  height: 50px;
  /* border: 2px solid lime; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.logo2{
  justify-content: center;
  align-items: center;
  height: 125px;
  padding: 20px;
  background-color: transparent;
}

.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
 max-width: 100%;
  min-height: 250px;
  background: #ff8800;
  padding: 30px;
   border-radius: 3px;
  box-sizing: border-box;
  color: #FFF;
  margin:20px;
   box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.card:nth-child(2){
 background: #4181ee;
}
.card:last-child{
 background: #673ab7;
}
.card-title{
  margin-top: 0;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
}
.card-content{
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn{
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #FFF;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
  background-color: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(20px);
}
.card-btn:hover{
 color: orange;
 background: #FFF;
}
.card:nth-child(2) .card-btn:hover{
 color:#4181ee;
 background: #FFF;
}
.card:last-child .card-btn:hover{
 color:#673ab7;
  background: #FFF;
}


/* CAROUSEL CSS -----------------------------------------------------------------------*/
#slide_1 {
  background-image: url(/static/img/caro1.jpg);
}
#slide_2 {
  background-image: url(/static/img/caro3.jpg);
}
#slide_3 {
  background-image: url(/static/img/caro2.jpg);
}
#slide_4 {
  background-image: url(/static/img/caro4.jpg);
}
.li_slide {
  background-size: cover;
  background-position: center;
}
/* Animations */
@keyframes tonext {
  75% {
      margin-left: 0;
  }
  95% {
      margin-left: calc(100% + 150px);
  }
  98% {
      margin-left: calc(100% + 150px);
  }
  99% {
      margin-left: 0;
  }
}
@keyframes snap {
  96% {
      scroll-snap-align: start;
  }
  97% {
      scroll-snap-align: none;
  }
  99% {
      scroll-snap-align: none;
  }
  100% {
      scroll-snap-align: start;
  }
}
@keyframes tostart {
  75% {
      margin-left: 0;
  }
  95% {
      margin-left: calc(-300% - 450px);
  }
  98% {
      margin-left: calc(-300% - 450px);
  }
  99% {
      margin-left: 0;
  }
}
/* Reset */
ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#pSlider {
  width: 1280px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  background-color: white;
  border: 10px solid lime;
  border-radius: 18px 18px 18px 18px ;
  /* Left, Right Navigation Arrows */
}
#pSlider #slider-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
#pSlider #slider-container .li_slide {
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-color: khaki;
  flex: none;
  margin-right: 150px;
}
#pSlider #slider-container .li_slide:nth-child(even) {
  background-color: mediumaquamarine;
}
#pSlider #slider-container .li_slide:last-child {
  margin-right: 0;
}
#pSlider #slider-container .li_slide .slide-snapper {
  /* Auto play */
  scroll-snap-align: start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: tonext 3.5s infinite ease, snap 3.5s infinite ease;
}
@media (prefers-reduced-motion: reduce) {
  #pSlider #slider-container .li_slide .slide-snapper {
      animation-name: none;
  }
}
#pSlider #slider-container .li_slide:last-child .slide-snapper {
  animation-name: tostart, snap;
  transition: 1s;
}
#pSlider #slider-container:hover .li_slide .slide-snapper, #pSlider #slider-container:focus-within .li_slide .slide-snapper {
  animation-name: none;
}
#pSlider:before, #pSlider:after, #pSlider .prev_slide, #pSlider .next_slide {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  visibility: hidden;
}
#pSlider:before, #pSlider:after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
#pSlider .next_slide {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}
#pSlider .prev_slide {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
}
#pSlider:before, #pSlider .prev_slide {
  content: "";
  left: 0px;
}
#pSlider:after, #pSlider .next_slide {
  content: "";
  right: 0px;
}
#pSlider:after {
  z-index: 1;
  /* set underneath .next_slide (z: 2)*/
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='60' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cpolyline points='10 10 30 30 10 50' stroke='rgba(255,255,255,0.9)' stroke-width='4' stroke-linecap='butt' fill='none' stroke-linejoin='round'%3E&lt;%3C/polyline%3E%3C/svg%3E");
}
#pSlider:before {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='60' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cpolyline points='30 10 10 30 30 50' stroke='rgba(255,255,255,0.9)' stroke-width='4' stroke-linecap='butt' fill='none' stroke-linejoin='round'%3E&gt;%3C/polyline%3E%3C/svg%3E");
}
/* Scrollbar */
#pSlider #slider-container::-webkit-scrollbar {
  display: none;
  height: 5px;
}
#pSlider #slider-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 50px;
}
#pSlider #slider-container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* END OF CAROUSEL CSS------------------------------------------------------ */


/* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border: 2px solid lime;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: lime;
} */

.centered2 {
  /* position: absolute; */
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  backdrop-filter: blur(5px);
  width: auto;
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  
  font-size: 55px;
  font-weight: 500;
  
}

.myH2 {
	text-align:center;
	font-size: 45px;
  color: rgb(9, 109, 9);
  padding: 20px;
}

.login-box {
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 400px;
  left: 50%;
  width: 600px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #000000;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #00ff1e;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #03420c;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1277cf;
  font-size: 12px;
}

.login-box form button {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  background: rgb(7, 142, 27);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: rgb(255, 255, 255);
  color: lime;
  border: 1px solid lime;
  transition: .5s;
  box-shadow: 5px 10px 0px 0px black;
  /* border-top-left-radius: 50%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 0%; */

}

.login-box select{
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 100%;
  min-height: 35px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lime;
}

.login-box select::hover{
  background-color: #00ff1e;
}

.labelmaker label{
  padding: 10px 0;
  font-size: 20px;
  color: #03420c;
}

@media only screen and (max-width: 768px){

  #pSlider {
    width: 100%;
    height: 600px;
    border: 8px solid lime;
    border-radius: 0 0 0 0;
  }

  #pSlider #slider-container .li_slide {
    border-radius: 0 0 0 0;
  }

  .centered2{
    font-size: 35px;
    width: 60%;
    backdrop-filter: blur(0);
  }

}



/* SCROLLBAR CSS -------------------------------------------------------------*/

  /* width */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(5, 90, 17); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border: 2px solid rgb(5, 90, 17);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 255, 34);
    transition: 1s ease; 
  }
  /* END OF SCROLLBAR CSS------------------------------------------- */

  section .container {
    margin: 200px;
  }
  section h1 {
    font-size: 3rem;
    margin: 20px;
  }
  section h2 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    /* text-transform: uppercase; */
  }
  section .text-container {
    display: flex;
  }
  section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 0px;
    font-size: 18px;
    text-align: justify;
    color: rgb(14, 67, 34);
    line-height: 1.5;
    /* background-image: linear-gradient(45deg, rgb(179, 251, 80) 0%, rgb(179, 251, 80) 1%,rgb(164, 235, 91) 1%, rgb(164, 235, 91) 3%,rgb(149, 219, 101) 3%, rgb(149, 219, 101) 12%,rgb(134, 202, 112) 12%, rgb(134, 202, 112) 18%,rgb(119, 186, 122) 18%, rgb(119, 186, 122) 25%,rgb(255,255,255) 25%, rgb(255,255,255) 100%); */
    background-image: linear-gradient(135deg, rgb(252, 252, 252) 0%,rgb(163, 255, 114) 100%);
  }
  section .text-container .text-box1 {
    margin: 0px;
    padding: 20px;
    border: 2px solid rgb(84, 196, 94);
    border-radius: 5px;
    background-image: linear-gradient(328deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 25%,rgba(226, 226, 226, 0.05) 25%, rgba(226, 226, 226, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(216, 216, 216, 0.05) 75%, rgba(216, 216, 216, 0.05) 100%),linear-gradient(172deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%,rgba(108, 108, 108, 0.05) 25%, rgba(108, 108, 108, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(236, 236, 236, 0.05) 75%, rgba(236, 236, 236, 0.05) 100%),linear-gradient(207deg, rgba(153, 153, 153, 0.05) 0%, rgba(153, 153, 153, 0.05) 25%,rgba(83, 83, 83, 0.05) 25%, rgba(83, 83, 83, 0.05) 50%,rgba(5, 5, 5, 0.05) 50%, rgba(5, 5, 5, 0.05) 75%,rgba(82, 82, 82, 0.05) 75%, rgba(82, 82, 82, 0.05) 100%),linear-gradient(297deg, rgba(26, 26, 26, 0.05) 0%, rgba(26, 26, 26, 0.05) 25%,rgba(223, 223, 223, 0.05) 25%, rgba(223, 223, 223, 0.05) 50%,rgba(232, 232, 232, 0.05) 50%, rgba(232, 232, 232, 0.05) 75%,rgba(153, 153, 153, 0.05) 75%, rgba(153, 153, 153, 0.05) 100%),linear-gradient(204deg, rgba(120, 120, 120, 0.05) 0%, rgba(120, 120, 120, 0.05) 25%,rgba(191, 191, 191, 0.05) 25%, rgba(191, 191, 191, 0.05) 50%,rgba(246, 246, 246, 0.05) 50%, rgba(246, 246, 246, 0.05) 75%,rgba(123, 123, 123, 0.05) 75%, rgba(123, 123, 123, 0.05) 100%),linear-gradient(90deg, rgb(79,255,32),rgb(37,255,50));
  }
  section .text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  section .text-container .text-box3 {
    margin: 20px;
    padding: 20px;
    height: 600px;
    width: 500px;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 0px;
    font-size: 18px;
    text-align: justify;
    color: rgb(14, 67, 34);
    line-height: 1.5;
    background-image: linear-gradient(45deg, rgb(179, 251, 80) 0%, rgb(179, 251, 80) 1%,rgb(164, 235, 91) 1%, rgb(164, 235, 91) 3%,rgb(149, 219, 101) 3%, rgb(149, 219, 101) 12%,rgb(134, 202, 112) 12%, rgb(134, 202, 112) 18%,rgb(119, 186, 122) 18%, rgb(119, 186, 122) 25%,rgb(255,255,255) 25%, rgb(255,255,255) 100%);
  }
  
  @media (max-width: 900px) {
    section h1 {
      font-size: 2rem;
      text-align: center;
    }
    section .text-container {
      flex-direction: column;
    }
  }
  
  .reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 0.7s ease-in;
  }
  .active.fade-left {
    animation: fade-left 0.7s ease-in;
  }
  .active.fade-right {
    animation: fade-right 0.7s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  #slbox{
    height: 350px;
  }

  

  /* Mobile APP VIEW ---------------------------------------------------------------*/
  @media (max-width: 600px){

    nav{
      background-color: black;
    }
  
    nav .logo img{
      height: 70px;
      padding: 10px;
    }

    .img1{
      display: none;
    }

    .img2{
      height: 700px;
      width: 100%;
    }
    
    .centered{
      width: 100%;
    }

    #title1{
      font-size: 35px;
      color: rgb(255, 255, 255);
      text-shadow: none;
    }

    .p1{
      display: none;
    }

    .p2{
      font-size: 22px;
    }

    .revealbox{
      display: none;
    }

    .myH2{
      font-size: 26px;
      padding: 10px;
    }

    .login-box{
      width: 95%;
      /* background-color: rgb(154, 228, 255); */
      background-image: radial-gradient(circle at 33% 26%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 12% 95%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 41% 23%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 5% 61%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 35% 13%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 79% 84%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 39% 40%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 94% 23%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 49% 57%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 33% 52%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),linear-gradient(0deg, rgb(55, 231, 121),rgb(14, 186, 192));
    }

    .login-box .user-box input {
      border-bottom: 1px solid white;
    }

    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #000000;
      font-size: 12px;
}

    /* scrollbar */
    /* width */
      ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
  
  
    /* Track */
      ::-webkit-scrollbar-track {
        background: rgb(0, 0, 0); 
      }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0); 
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 2px solid rgb(5, 90, 17);
      }
  
    /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 255, 34);
        transition: 1s ease; 
      }
    /* end of scrollbar */
  }


  /* HIDING ELEMENTS ON DESKTOP PAGE---------------------------------------------------------------- */
  @media only screen and (min-width: 768px){

    .img2{
      display: none;
    }

    .wrapper{
      display: none;
    }
    

  }

  /* footer------------------------------------------------------------------------------------------ */

  .footer-distributed{
    /* background: #666; */
    background-image: radial-gradient(circle at bottom center, rgb(197, 234, 55) 0%, rgb(197, 234, 55) 12%,rgb(170, 222, 63) 12%, rgb(170, 222, 63) 18%,rgb(144, 210, 72) 18%, rgb(144, 210, 72) 23%,rgb(117, 198, 80) 23%, rgb(117, 198, 80) 47%,rgb(90, 187, 88) 47%, rgb(90, 187, 88) 59%,rgb(63, 175, 96) 59%, rgb(63, 175, 96) 68%,rgb(37, 163, 105) 68%, rgb(37, 163, 105) 86%,rgb(10, 151, 113) 86%, rgb(10, 151, 113) 100%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #222;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #000000;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: 600;
    font-size: 20px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
