<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/apple.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>APPLE</h1>
            <hr>
            <p>The apple is a temperate fruit crop. However, in India the apple growing areas do not fall in temperate zone but the prevailing temperate climate of the region is due to the Himalayan ranges and high altitudes. The average summer temperature should be around 21-24°C during active growth period. Apples grow best on a well-drained, loam soils having a depth of 45 cm and a pH range of pH 5.5-6.5.</p> 
            <p>The soil should be free from hard substrata and water-logged conditions. Soils with heavy clay or compact subsoil are to be avoided. Apples have approximately 84% moisture at the time of harvest, and to maintain this water content and prevent shriveling of the skin, the storage relative humidity should be 90% or higher. With good air circulation, a higher relative humidity (95 to 98%) may be maintained without mold formation.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <hr>
            <p><b>Type of crop</b> : <span style="color: rgb(93, 19, 97);">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span style="color: rgb(93, 19, 97);">5.5-6.5</span></p>
            <p><b>Ideal Soil type</b> : <span style="color: rgb(93, 19, 97);">LOAM SOILS</span></p>
            <p><b>Ideal Relative Humidity</b> : <span style="color: rgb(93, 19, 97);">90% or Higher</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span style="color: rgb(93, 19, 97);">21-24°C </span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span style="color: rgb(93, 19, 97);">1000-1250mm throughout the growing season</span></p>
            <p><b>Ideal Sowing Time</b> : <span style="color: rgb(93, 19, 97);">January-February</span></p>
        </div>
    </div>
</body>
</html>