<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/kidneybeans.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>KIDNEYBEANS</h1>
            <br><hr>
            <p>Kidney beans is also known as the chilli bean because of its dark red color and the visually resemblance the shape of a kidney. Kidney beans are a good source of protein also it is excellent source of molybdenum.</p>
            <p>It grows well in tropical and temperate areas receiving the annual rainfall of 60-150 mm, the optimum growing temperature ranges from 15-25°C, and the harvesting temperature of 28-30°C.</p>
            <p> It can be grown on wide range of soils from light sandy to heavy clay soils. Well drained loamy soil is good for kidney beans cultivation. It is very sensitive to saline soils. Gives best result when pH of soil is 5.5 to 6.</p>
            <p>For spring season, best time for Kidney beans cultivation is February-March and for Kharif season, it is sown during May-June month. Some farmers sow Kidney beans in last week of January.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">Annual</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">5.5 - 6.0</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">Drained loamy soil</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">85 - 95%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">15 - 25°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">60 - 150mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">Feb-March / May-June</span></p>
        </div>
    </div>
</body>
</html>