<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/lentil.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>LENTIL</h1>
            <br><hr>
            <p> It is one of the most important protein rich pulse crop. It is mostly eaten as Dal by splitting into 2 cotyledons, deep orange red or orange yellow in color. Whole grain is also used in various dishes. Lentil also provide a source of starch for textiles and printing. It is mixed with wheat flour in bread and cake production. India is the highest producer of lentil in the world.</p>
            <p> Lentil can be grown on all type of soil. Saline, Alkaline or waterlogged soils should be avoided. Soil should be friable and weed free so that seed could be placed at uniform depth.</p>
            <p> Seed should be sown in the mid of October to First week of November. Lentil is well suited to neutral to alkaline soils, preferring soils with a pH range of 5.5 to 8 (CaCl2). Soils with extremely low or high pH should be avoided.</p>
            
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">Annual</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">5.5 - 8.0</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">Well drained, loam soils with neutral reaction</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">40 - 90%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">18 - 30°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">350 - 550mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">October - Early November</span></p>
        </div>
    </div>
</body>
</html>