<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/maize.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>MAIZE</h1>
            <br><hr>
            
            <p>Maize is a Kharif crop. Maize crops grow best at a soil pH of between 5.5 and 7.3, with pH 6.0–6.5 being optimal. Maize can be grown successfully in variety of soils ranging from loamy sand to clay loam.</p>
            <p>Maize need high humidity 55 to 65%. Maize is grown mostly in regions having annual rainfall between 50 cm to 100 cm. Maize plants germinate best at 25–28 °C. Harvesting should be done when cobs outer cover turns from green to white. The optimum time of harvesting maize is when the stalks have dried and moisture of grain as about 17-20%. Drying place or equipment should be dry, clean and disinfected.</p>
            <!-- <p>For more information, please visit : <a href="https://www.apnikheti.com/en/pn/agriculture/crops/cereals/maize-kharif">LINK</a></p> -->
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">5.5-7.3</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">loamy sand to clay loam</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">55-65%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">25-28%</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">500mm-1000mm (annually)</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">May-June</span></p>
        </div>
    </div>
</body>
</html>