<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/mango.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>MANGO</h1>
            <br><hr>
            <p>Mango is a popular fruit crop in India, known for its sweet and succulent taste. It thrives in tropical and subtropical climates. The major mango-growing regions in India include Maharashtra, Uttar Pradesh, Andhra Pradesh, Karnataka, and Gujarat. Mango trees require well-drained soil, regular irrigation, and adequate sunlight. The flowering and fruiting season varies depending on the mango variety. Proper pruning, pest control, and fertilization are essential for optimal growth and high-quality yield. Mangoes are typically harvested during the summer months, and India is one of the largest producers of mangoes in the world.</p>
            <!-- <p>For more information, please visit : <a href="https://www.apnikheti.com/en/pn/agriculture/horticulture/fruit/mango">LINK</a></p> -->
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">5.5-6.5</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">LOAM SOILS</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">90% or Higher</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">21-24°C </span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">1000-1250mm throughout the growing season</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">January-February</span></p>
        </div>
    </div>
</body>
</html>