<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/mothbeans.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>MOTHBEANS</h1>
            <br><hr>
            <p>Moth beans, also known as matki or Turkish gram, are small, drought-tolerant legumes that belong to the Fabaceae family.  Moth beans are known for their nutritional richness and versatility in culinary applications. They are a good source of protein, dietary fiber, vitamins, and minerals, making them a healthy addition to a balanced diet. In terms of appearance, moth beans are small, oval-shaped, and light brown in color with a distinct nutty flavor.</p>
            <p>These beans are also used as a filling in savory snacks and are often ground into flour for making traditional flatbreads. With their nutritional benefits and culinary versatility, moth beans continue to be cherished and enjoyed by people around the world.</p>
            <!-- <p>For more information, please visit : <a href="https://www.agrifarming.in/moth-bean-cultivation-farming-practices-in-india">LINK</a></p> -->
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">RABI</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">6.0-7.5</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">LOAM SOILS</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">70%-80%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">25°C-35°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">300-500mm throughout the growing season</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">May-June</span></p>
        </div>
    </div>
</body>
</html>