<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/mungbean.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>MUNGBEAN</h1>
            <br><hr>
            <p>Moongbeans, also known as mung beans or green gram, are widely cultivated in India. They prefer warm and subtropical climates with temperatures between 25°C and 35°C (77°F and 95°F). Moongbeans thrive in well-drained loamy soil with a pH ranging from 6.0 to 7.5. They have moderate water requirements and can withstand drought conditions to some extent.</p>
            <p>Regular weeding and proper irrigation management are crucial for their growth. Moongbeans are susceptible to pests like aphids, whiteflies, and thrips, requiring appropriate pest control measures. Harvesting is done when the pods turn yellow or brown, and the beans are fully mature. Moongbeans are highly nutritious and widely used in Indian cuisine and for sprouting purposes.</p>
            <!-- <p>For more information, please visit : <a href="https://www.apnikheti.com/en/pn/agriculture/crops/pulses/green-gram-moong">LINK</a></p> -->
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span style="color: rgb(93, 19, 97);">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span style="color: rgb(93, 19, 97);">5.5-8.5</span></p>
            <p><b>Ideal Soil type</b> : <span style="color: rgb(93, 19, 97);">Loamy to Sandy Loam</span></p>
            <p><b>Ideal Relative Humidity</b> : <span style="color: rgb(93, 19, 97);">90% or Higher</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span style="color: rgb(93, 19, 97);">25°C-35°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span style="color: rgb(93, 19, 97);">60-90 cm</span></p>
            <p><b>Ideal Sowing Time</b> : <span style="color: rgb(93, 19, 97);">March-April</span></p>
        </div>
    </div>
</body>
</html>