<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/muskmelon.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>MUSKMELON</h1>
            <br><hr>
            
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">4.8 - 5.8</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">loamy alluvial</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">40 - 90%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">17 - 41°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">1200mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">March - May</span></p>
        </div>
    </div>
</body>
</html>