<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/muskmelon.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>MUSKMELON</h1>
            <hr>
            <p>Muskmelon, also known as cantaloupe or sweet melon, is a popular fruit crop grown in India. It thrives in warm and subtropical climates with temperatures ranging from 25°C to 35°C (77°F to 95°F). Muskmelons prefer well-drained sandy loam or loamy soil with a pH of 6.0 to 7.5. Adequate sunlight and regular watering are essential for their growth. They require proper spacing and trellising support for vines. </p>
            <p>Pest control measures are crucial to prevent damage from insects such as aphids, fruit flies, and spider mites. Harvesting is done when the fruit skin changes color, becomes slightly soft, and develops a sweet aroma. Muskmelons are valued for their refreshing taste and high nutritional content.</p>
            <p>For more information, please visit : <a href="https://www.apnikheti.com/en/pn/agriculture/horticulture/fruit/muskmelon">LINK</a></p>
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <hr>
            <p><b>Type of crop</b> : <span style="color: rgb(93, 19, 97);">RABI</span></p> 
            <p><b>Ideal pH</b> : <span style="color: rgb(93, 19, 97);">6.2-6.8</span></p>
            <p><b>Ideal Soil type</b> : <span style="color: rgb(93, 19, 97);">LOAM SOILS</span></p>
            <p><b>Ideal Relative Humidity</b> : <span style="color: rgb(93, 19, 97);">95%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span style="color: rgb(93, 19, 97);">18-30°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span style="color: rgb(93, 19, 97);">50-75mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span style="color: rgb(93, 19, 97);">February-March</span></p>
        </div>
    </div>
</body>
</html>