<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/orange.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>ORANGE</h1>
            <br><hr>
            <p>Orange is widely grown citrus fruit of India. It occupies nearly 50% of total area under citrus cultivation. Mandarin, Sweet Orange is commercially grown citrus species in India. Production of Mandarin orange is increasing every year in central and western parts of country. India ranks third in the production of orange after banana and mango fruits. In India, Orange is being grown in Rajasthan, Himachal Pradesh, Punjab and Uttar Pradesh.</p>
            <p>It can be grown on wide variety of soils. Medium-Light Loam soils with pH of 6.0-8.0 are suitable for its best growth. Land need to be prepare properly for growing seedlings. Land should be ploughed, cross ploughed and leveled. Terrace planting is done on hills. High density planting is possible in hilly areas.</p>
            <p>Fruits from healthy plants with high density are selected for extracting seeds. Seeds should be mixed with ash and are left in the shade to dry. To prevent seed viability, they should be sown immediately at a distance of 3-4cm. Germination may take 3-4 weeks. Unhealthy seedlings should be removed from the field. Proper care must be taken to protect the seedlings from various diseases and insect-pests.</p>
            <p>Irrigation requirement of orange is very high due to its evergreen nature throughout the year. Amount of irrigation also depends upon the type of soil.  Proper irrigation should be provided at the time of flowering, Fruit set and Fruit development. Water logging should be avoided. Irrigation water should be free from salts.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">6.0 - 8.0</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text"> Medium-Light Loam soils</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">85 - 90%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">10 - 35°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">1000 - 1200mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">August - October</span></p>
        </div>
    </div>
</body>
</html>