<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/papaya.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>PAPAYA</h1>
            <br><hr>
            <p>It is a tropical fruit which is native to Mexico. It belongs to “Caricaceae” family and “Carica” genus.</p>
            <p>It is a fast growth plant which has long fruiting period and contains high nutritional value. India is known as the largest producer of papaya. It can be grown in pots, greenhouse, polyhouse and containers. It also has health benefits such as it helps to relieve constipation, cancer, helps in lowering cholesterol, and helps in fighting with cancer cells. It is a rich source of Vitamin A and C. In India, Maharashtra, Karnataka, west Bengal, Orissa, Jammu and Kashmir, Bihar, Gujarat, Himachal Pradesh, U.K, Tamil Nadu and Andhra Pradesh are major states doing papaya farming.</p>
            <p>It is grown in wide range of soils. Hilly soil having well drainage system is suited best for papaya farming. Avoid cultivation in sandy or heavy soil. The pH soil ranging from 6.5-7.0 is best for papaya farming.</p>
            <p>Seeds are sown in second week of July to third week of September and transplanting is done from first week of September to mid-October.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">6.5 - 7.0</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">Hilly soil having well drainage</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">66%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">25 - 30°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">350 - 2500mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">mid-July to mid-September</span></p>
        </div>
    </div>
</body>
</html>