<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/pigeonpeas.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>PIGEONPEAS</h1>
            <br><hr>
            <p>It is a popular pulses crop and it is rich source of Protein. It is cultivated in tropical and semitropical regions. It is important legumes crop of rain fed and semi-arid tropics and it can grow as single crop or intermixed with cereals.</p>
            <p>It enriches soil through symbiotic nitrogen fixation. Andhra Pradesh, Gujarat, Karnataka, Madhya Pradesh, Maharashtra and Uttar Pradesh are major Pigeon pea producing states in India.</p>
            <p>It grows on variety of soil. It gives best result on fertile and well drained loamy soils. The saline-alkaline or waterlogged soils are unfit for its cultivation. It can grow successfully on soils having pH ranges from 6.5 to 7.5.</p>
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">6.5 - 7.5</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">well drained loamy soil</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">40 - 60%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">17 - 30°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">600 - 650mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">June to July</span></p>
        </div>
    </div>
</body>
</html>