<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/banana.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>BANANA</h1>
            <hr>
            <p>Banana, basically a tropical crop, grows well in a temperature range of 15ºC – 35ºC with relative humidity of 75-85%. It prefers tropical humid lowlands and is grown from the sea level to an elevation of 2000m.</p> 
            <p>The soil suitable for banana should be 0.5-1m in depth, rich, well drained, fertile, moisture retentive, containing plenty of organic matter. The range of pH should be 6.5-7.5. Alluvial and volcanic soils are the best for banana cultivation.</p>
            For more information, please visit : <a href="https://www.apnikheti.com/en/pn/agriculture/horticulture/fruit/banana">LINK</a></p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <hr>
            <p><b>Type of crop</b> : <span style="color: rgb(93, 19, 97);">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span style="color: rgb(93, 19, 97);">6.5-7.5</span></p>
            <p><b>Ideal Soil type</b> : <span style="color: rgb(93, 19, 97);">Alluvial and volcanic soils</span></p>
            <p><b>Ideal Relative Humidity</b> : <span style="color: rgb(93, 19, 97);">50% or Higher</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span style="color: rgb(93, 19, 97);">31 or 32°C </span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span style="color: rgb(93, 19, 97);">1700mm annually</span></p>
            <p><b>Ideal Sowing Time</b> : <span style="color: rgb(93, 19, 97);">February-March</span></p>
        </div>
    </div>
</body>
</html>