<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/pomegranate.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>POMEGRANATE</h1>
            <hr>
            
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <hr>
            
        </div>
    </div>
</body>
</html>