<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/pomegranate.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>POMEGRANATE</h1>
            <br><hr>
            <p>Pomegranate is a Rabi crop. Pomegranate known as Anar in Hindi is commercial crop of India. Its origin lies in Persia. It is a rich source of carbohydrates, proteins, calcium, phosphorus, iron and vitamin C. Pomegranate eaten as fresh fruit also its juice is cool and refreshing. Along with juice, each and every part of pomegranate has some medicinal value.</p>
            <p>Its root and peel used to cure diarrhoea, dysentery and worm killing in the intestines. Its petals are used for preparing dyes. Maharashtra is major producer of Pomegranate. Other states like Rajasthan, Karnataka, Gujarat, Tamil Nadu, Andhra Pradesh, Uttar Pradesh, Punjab and Haryana are also cultivating pomegranate on small scale.</p>
            <p>It can be grown on variety of soils. For optimum growth and yield, it required deep loamy and alluvial soils. It is tolerant to loamy and slightly alkaline soils. It is also cultivated on poor soils. Also medium and black soils are suitable for pomegranate cultivation. Mainly sowing is done in December to January month.</p>
            <p>Pomegranate can be successfully grown in areas with temperature ranging from 25-35 0C and annual rainfall of 500–800 mm. Hot and dry climate during fruit development improves the fruit quality.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">RABI</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">5.5 - 7.2</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">deep loamy and alluvial soils</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">greater than 95%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">25 - 35°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">500 - 800mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">November to December</span></p>
            
        </div>
    </div>
</body>
</html>