<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/rice.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>RICE</h1>
            <hr>
            
            <p>Rice is a Kharif crop. The major soil groups where rice is grown are riverine alluvium, red-yellow, red loamy, hill and sub-montane, Terai, laterite, costal alluvium, red sandy, mixed red, black, medium and shallow black soils. It grows well in soils having a pH range between 5.5 and 6.5.</p>
            <p>Moist humid weather during vegetative growth and dry-sunny weather during ripening is most desirable. A relative humidity of 60-80 % is said to be optimum. Rice requires high temperature above 25-degree Celsius and high humidity with annual rainfall above 100 cm to grow.</p>
            <p>For more information, please visit : <a href="https://www.apnikheti.com/en/pn/agriculture/crops/cereals/rice">LINK</a></p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <hr>
            <p><b>Type of crop</b> : <span style="color: rgb(93, 19, 97);">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span style="color: rgb(93, 19, 97);">5.5-6.5</span></p>
            <p><b>Ideal Soil type</b> : <span style="color: rgb(93, 19, 97);">Clay or clay loams</span></p>
            <p><b>Ideal Relative Humidity</b> : <span style="color: rgb(93, 19, 97);">60-80%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span style="color: rgb(93, 19, 97);">Above 25°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span style="color: rgb(93, 19, 97);">Greater than 1000mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span style="color: rgb(93, 19, 97);">May-June</span></p>
        </div>
    </div>
</body>
</html>