<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/watermelon.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>WATERMELON</h1>
            <br><hr>
            <p>Watermelon is originated in South Africa. It is an important cucurbitaceous vegetable in India. It is an excellent desert fruit and its juice contain 92% water along with proteins, minerals and carbohydrates. In Japan, cubic shape watermelon are popular, they grow watermelon in glass box and give cubic shape. Watermelons are mainly cultivated in Maharashtra, Karnataka, Tamil Nadu, Punjab, Rajasthan, Madhya Pradesh, and Uttar Pradesh.</p>
            <p>Watermelon grows well in deep fertile and well-drained soil. It gives best result when grown on sandy or sandy loam soil. Soil having poor drainage capacity is not suited for watermelon cultivation. Follow crop rotation as continuous growing of same crop on same field leads loss of nutrients, poor yield and more disease attack. pH of soil should be in between 6-7.</p>
            <p>Plough land and bring to fine tilth. In North India, sowing is done February - March month. In North east and west India sowing is done during November to January. Watermelon can be direct seeded or transplant in nursery and then transplanted to main field.</p>
            <p>Apply irrigation, every week in summer season. At time of maturity give irrigation only when needed. Avoid over flooding in watermelon field. At time of applying irrigation, should not wet the vines or vegetative parts, especially during flowering and fruit-set. Avoid frequent irrigation in heavy soil as it will promote excessive vegetative growth. For better sweetness and flavour, stop irrigation or reduce watering 3-6days before harvesting.</p>
            
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">In b/w Kharif and Rabi Season</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">6.0 - 7.0</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">Sandy or Sandy loam</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">90%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">20 - 30°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">50-75mm</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">January - March</span></p>
            
        </div>
    </div>
</body>
</html>