<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/blackgram.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>BLACKGRAM</h1>
            <hr>
            <p>Black gram is an important short-duration, hardy, and stress-resistant legume crop of India grown in the summer. Although the crop can thrive at up to 42 °C, the optimum temperature for its growth ranges between 25 °C and 32 °C.</p> 
            <p>Black gram is a tropical crop & it requires hot & humid climate. Heavy rains during flowering stage are harmful to the crop as it adversely affects the production of the crop.</p>
            <p>Black gram can be grown on variety of soils ranging from sandy soils to heavy cotton soils. Sandy loam to clay loam is considered to be most suitable soil for gram cultivation. The most ideal soil is a well drained loam with pH of 6.5 to 7.8. Black gram cannot be grown on alkaline and saline soils.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <hr>
            <!-- <p><b>Type of crop</b> : <span style="color: rgb(93, 19, 97);">KHARIF</span></p> 
            <p><b>Ideal pH</b> : <span style="color: rgb(93, 19, 97);">5.5-6.5</span></p>
            <p><b>Ideal Soil type</b> : <span style="color: rgb(93, 19, 97);">LOAM SOILS</span></p>
            <p><b>Ideal Relative Humidity</b> : <span style="color: rgb(93, 19, 97);">90% or Higher</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span style="color: rgb(93, 19, 97);">21-24°C </span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span style="color: rgb(93, 19, 97);">1000-1250mm throughout the growing season</span></p>
            <p><b>Ideal Sowing Time</b> : <span style="color: rgb(93, 19, 97);">January-February</span></p> -->
        </div>
    </div>
</body>
</html>