<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/coconut.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>COCONUT</h1>
            <br><hr>
            <p>Coconut, an important perennial crop of the humid tropics, is a multipurpose crop that serves as a source of food, edible oil, refreshing drink, fiber (coir), fodder, and fuel.</p>
            <p>Coconut is a Rabi crop. Rabi crops are agriculture crops which are sown in winter. These crops are harvested in spring season in India.The major soil types that support coconut in India are laterite, alluvial, red sandy loam, coastal sandy and reclaimed soils with a pH ranging from 5.2 to 8.0.</p> 
            <p>Soil with a minimum depth of 1.2m and fairly good water holding capacity is preferred for coconut cultivation. The coconut palm tree requires a few climate conditions in order to reach maximum growth and fruit-bearing potential. Coconut palms grow at their best in temperatures ranging from 85 to 95 degrees.</p>
            <p>The optimum relative humidity is 80 – 85 per cent and should not fall below 60 per cent.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">RABI</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">5.2 to 8.0</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">laterite, alluvial, red sandy loam, coastal sandy</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">80 - 85%</span></p>
            <p><b>Ideal Temperature(in °F)</b> : <span class="summary-text">85 - 95°F </span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">2000mm annually</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">May to June</span></p>
        </div>
    </div>
</body>
</html>