<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/coffee.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>COFFEE</h1>
            <hr>
            <p>Coffee is a Kharif Crop. The Kharif cropping season starts with the onset of the Indian subcontinent’s monsoon. Kharif crops are typically sown at the beginning of the first monsoon rains (depending on region to region). Harvesting season begins from the 3rd week of September to October (the exact harvesting dates differ from region to region).</p> 
            <p>A humidity level of 50 percent or higher should suffice. If the air is too dry, the leaf edges might start to brown. Mist the plant daily to raise the humidity level. Coffee can be grown on many different soil types, but the ideal is a fertile, volcanic red earth or a deep, sandy loam. Yellow-brown, high silt soils are less preferred. Avoid heavy clay or poor-draining soils.</p>
            <p>Coffee prefers a soil with pH of 5 to 6. Coffee requires an average temperature of 15℃ to 28℃ . Growth of the coffee plants is very rapid during the hot rainy season and during the cool dry season the berries get ripened and ready to be plucked. Bright sunshine and warm weather are necessary for harvesting.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <hr>
            <p><b>Type of crop</b> : </p> 
            <p><b>Ideal pH</b> :</p>
            <p><b>Ideal Soil type</b> :</p>
            <p><b>Ideal Humidity</b> :</p>
            <p><b>Ideal Temperature(in °C)</b> :</p>
            <p><b>Ideal Rainfall(in mm)</b> :</p>
            <p><b>Ideal Season</b> :</p>
        </div>
    </div>
</body>
</html>