<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/cotton.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>COTTON</h1>
            <hr>
            
            <p>Cotton is a Kharif crop. The Kharif cropping season starts with the onset of the Indian subcontinent’s monsoon. Kharif crops are typically sown at the beginning of the first monsoon rains (depending on region to region). Harvesting season begins from the 3rd week of September to October (the exact harvesting dates differ from region to region). Cotton cultivation requires frost-free conditions, 20 to 30 degree Celsius temperature, and a small amount of annual rainfall.</p>
            <p>Cotton grows well on Black soil or alluvial soil. Black soil is appropriate for the growth of cotton because it has a high clay content and a good capacity to retain water. For cotton, it is pHs of 6.0 to 6.5, with 6.5 being optimum.</p>
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <hr>
            <p><b>Type of crop</b> : </p> 
            <p><b>Ideal pH</b> :</p>
            <p><b>Ideal Soil type</b> :</p>
            <p><b>Ideal Humidity</b> :</p>
            <p><b>Ideal Temperature(in °C)</b> :</p>
            <p><b>Ideal Rainfall(in mm)</b> :</p>
            <p><b>Ideal Season</b> :</p>
        </div>
    </div>
</body>
</html>