<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/data"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <div class="left-div">
            <img src="/static/img/grapes.jpg" alt=""> 
        </div>
        <div class="right-div">
            <h1>GRAPES</h1>
            <br><hr>
            <p>Grapes is a rabi crop. It is a temperate crop which has got adapted to sub-tropical climate of peninsular India. Grapevines do best with full sun - about 7 or 8 hours per day. Less light leads to lower fruit production, poorer fruit quality, increased powdery mildew, and fruit rot. Grapevines will grow and produce well on a wide range of soil types, but good drainage is very important. Roots tend to grow deep – up to 15 ft.</p>
            <p>Also check your soil's pH – grapevines prefer a pH of 6.5 to 6.8. Vines are best planted while dormant, between October and March, as long as the ground isn't frozen. However, planting in spring preferable to avoid winter damage to the young plants.  The overall optimum temperature grapevine growth is 77 and 90 degrees F (25 to 32°C). Any temperature below this optimum range causes vegetative growth to become limited.</p>
            <!-- <p>Area with annual rainfall not exceeding 900mm well distributed throughout the year is ideal. However, rainfall during flowering and fruit ripening is not favourable as it leads to the spread of downy mildew  disease. Grapes can be cultivated in variety of soils including sandy loams, sandy clay loams, red sandy soils, shallow to medium black soils and red loams. The soil should be well drained, having good water holding capacity and devoid of any hard pan or impervious layer in the top 90-cm, with water table at least 6.5m below.</p> -->
            <!-- <p>For more information, please visit : <a href="https://www.apnikheti.com/en/pn/agriculture/horticulture/fruits/grapes">LINK</a></p> -->
        </div>
        <div class="left-div1">
            <h2>Summary</h2>
            <br><hr>
            <p><b>Type of crop</b> : <span class="summary-text">RABI</span></p> 
            <p><b>Ideal pH</b> : <span class="summary-text">6.5-6.8</span></p>
            <p><b>Ideal Soil type</b> : <span class="summary-text">sandy loams, sandy clay loams, red sandy soils, shallow to medium black soils and red loams</span></p>
            <p><b>Ideal Relative Humidity</b> : <span class="summary-text">90-95%</span></p>
            <p><b>Ideal Temperature(in °C)</b> : <span class="summary-text">25-32°C</span></p>
            <p><b>Ideal Rainfall(in mm)</b> : <span class="summary-text">500-600mm throughout the growing season</span></p>
            <p><b>Ideal Sowing Time</b> : <span class="summary-text">December-January</span></p>
        </div>
    </div>
</body>
</html>