{% extends 'cc-layout.html' %} 

{% block body %}

<img src="/static/img/agri bg3.jpg" alt="" class="img1"><img src="/static/img/agri bg8.jpg" alt="" class="img2"><p class="centered" id="title1">Crop Recommendation <br> C R M</p>

    <h2 class="myH2">Determine which crop would be best to plant in your farm.</h2>

    <div class="login-box">
        <form method="POST" action="{{ url_for('cc_crop_prediction') }}">
          <div class="user-box">
            <input type="number" name="nitrogen" id="Nitrogen" required max="125" min="0">
            <label>Nitrogen (N)</label>
          </div>
          <div class="user-box">
            <input type="number" name="phosphorous" id="Phosphorous" required max="125" min="0">
            <label>Phosphorus (P)</label>
          </div>
          <div class="user-box">
            <input type="number" name="pottasium" id="Potassium"  required max="125" min="0">
            <label>Potassium (K)</label>
          </div>
          <div class="user-box">
            <input type="number" name="ph" id="ph" step="0.01" required max="14" min="0">
            <label>pH level</label>
          </div>
          <div class="user-box">
            <input type="number" name="rainfall" id="Rainfall" step="0.01" required min="0" max="500">
            <label>Rainfall(in mm)</label>
          </div>



          <div class="labelmaker">
            <label>State</label>
            <br>
            <select
              onchange="print_city('state', this.selectedIndex);"
              id="sts"
              name="stt"
              required
            ></select>
          </div> 

          <br> 

          <div class="labelmaker">  
            <label>City</label>
            <br>
            <select
              id="state"
              name="city"
              required
            ></select>
            <script language="javascript">
              print_state("sts");
            </script>
          </div>
          
          <br><br>

          <button type="submit">
            Predict
          </button>
          
        </form>
    </div>
    
    <div style="height:150px"></div>

{% endblock %}