<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/crm"><div class="backArrow">&#10140;</div></a>
    </div>
    <div class="container1">
        <!-- image box -->
        <div class="left-div2">
            <img src="/static/img/{{prediction}}.jpg" alt=""> 
        </div>

        <!-- info box -->
        <div class="right-div2">
            <h1 class="result-h1">Crop Recommendation Result</h1>
            <hr><br>
            <p>You are recommended to grow <b><span style="text-transform: uppercase; color:green; font-size: 30px; text-decoration: underline;">{{ prediction }}</span></b> in your farm.</p>
            <br>
            <a href="{{prediction}}" class="result-button">More Information</a>
            <br>
            <!-- <p style="font-size: 16px;">Press this button for more information on this crop.</p> -->
            <!-- <p>{{ crop_info_3 }}</p> -->
        </div>

        <div class="left-div3">
            <img src="/static/img/{{prediction}}.jpg" alt=""> 
        </div>

        
    </div>
</body>
</html>