{% extends 'cc-layout.html' %} {% block body %}

<section class="home">
    <div class="centered">
        List of Crops.
    </div>
</section>

<div class="imgcard">
    <!-- Apple -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/apple.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">1</span></div>
          <h1>Apple</h1>
          <hr>
          <p>
            Scientific Name : Malus domestica
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="/apple"></a>
      </figure>

    <!-- Banana -->
      <figure class="snip1527">
        <div class="image"><img src="/static/img/banana.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">2</span></div>
          <h1>Banana</h1>
          <hr>
          <p>
            Scientific Name : Musa acuminata
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="/banana"></a>
      </figure>  

    <!-- Blackgram -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/blackgram.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">3</span></div>
          <h1>Blackgram</h1>
          <hr>
          <p>
            Scientific Name : Vigna mungo
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="/blackgram"></a>
      </figure>  

    <!-- Chickpea -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/chickpea.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">4</span></div>
          <h1>Chickpea</h1>
          <hr>
          <p>
            Scientific Name : Cicer arietinum
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="/chickpea"></a>
      </figure>  

    <!-- Coconut -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/coconut.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">5</span></div>
          <h1>Coconut</h1>
          <hr>
          <p>
            Scientific Name : Cocos nucifera
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="/coconut"></a>
      </figure>  

    <!-- Coffee -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/coffee.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">6</span></div>
          <h1>Coffee</h1>
          <hr>
          <p>
            Scientific Name : Coffea arabica
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="/coffee"></a>
      </figure>
    
    <!-- Cotton -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/cotton.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">7</span></div>
          <h1>Cotton</h1>
          <hr>
          <p>
            Scientific Name : Gossypium
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="/cotton"></a>
      </figure>
      
    <!-- Grapes -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/grapes.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">8</span></div>
          <h1>Grapes</h1>
          <hr>
          <p>
            Scientific Name : Vitis vinifera
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="/grapes"></a>
      </figure>
      
    <!-- Jute -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/jute.png" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">9</span></div>
          <h1>Jute</h1>
          <hr>
          <p>
            Scientific Name : Corchorus olitorius
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Kidneybeans -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/kidneybeans.png" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">10</span></div>
          <h1>Kidney beans</h1>
          <hr>
          <p>
            Scientific Name : Vigna mungo
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Lentil -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/lentil.png" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">11</span></div>
          <h1>Lentil</h1>
          <hr>
          <p>
            Scientific Name : Phaseolus vulgaris
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Maize -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/maize.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">12</span></div>
          <h1>Maize</h1>
          <hr>
          <p>
            Scientific Name : Zea mays
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Mango -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/mango.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">13</span></div>
          <h1>Mango</h1>
          <hr>
          <p>
            Scientific Name : Mangifera indica
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Mothbeans -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/mothbeans.png" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">14</span></div>
          <h1>Moth beans</h1>
          <hr>
          <p>
            Scientific Name : Vigna aconitifolia
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Mungbean -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/mungbean.png" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">15</span></div>
          <h1>Mung bean</h1>
          <hr>
          <p>
            Scientific Name : Vigna radiata
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Muskmelon -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/muskmelon.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">16</span></div>
          <h1>Muskmelon</h1>
          <hr>
          <p>
            Scientific Name : Cucumis melo
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Orange -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/orange.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">17</span></div>
          <h1>Orange</h1>
          <hr>
          <p>
            Scientific Name : Vigna mungo
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Papaya -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/papaya.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">18</span></div>
          <h1>Papaya</h1>
          <hr>
          <p>
            Scientific Name : Carica papaya
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Pigeonpeas -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/pigeonpea.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">19</span></div>
          <h1>Pigeon pea</h1>
          <hr>
          <p>
            Scientific Name : Cajanus cajan
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Pomegranate -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/pomegranate.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">20</span></div>
          <h1>Pomegranate</h1>
          <hr>
          <p>
            Scientific Name : Punica granatum
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Rice -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/rice.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">21</span></div>
          <h1>Rice</h1>
          <hr>
          <p>
            Scientific Name : Oryza sativa
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      
    <!-- Watermelon -->
    <figure class="snip1527">
        <div class="image"><img src="/static/img/watermelon.jpg" /></div>
        <figcaption>
          <div class="date"><span class="month">Crop</span><span class="day">22</span></div>
          <h1>Watermelon</h1>
          <hr>
          <p>
            Scientific Name : Citrullus lanatus
            <br>
            --------------------------------------
          </p>
        </figcaption>
        <a href="#"></a>
      </figure>
      

{% endblock %}