<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
    <div class="header1">
        <img src="/static/img/CC logo.png" alt="">
        <a href="/"><div class="backArrow">&#10140;</div></a>
    </div>
    <h1 class="headfaq">Frequently Asked Questions</h1>
<div class="faq-container">
  <div class="faq">
    <h3 class="faq-title">
      What are Kharif Crops?
    </h3>
    <p class="faq-text">The Kharif cropping season starts with the onset of the Indian subcontinent’s monsoon. Kharif crops are typically sown at the beginning of the first monsoon rains (depending on region to region). Harvesting season begins from the 3rd week of September to October (the exact harvesting dates differ from region to region).

      Unlike Rabi crops, Kharif crops require good rainfall. The output of these crops depends upon the time and amount of rainwater. Paddy, maize, bajra, jowar are a few of the Kharif crops grown in India.</p>
    <button class="faq-toggle">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      What are Rabi Crops?
    </h3>
    <p class="faq-text">Rabi crops are known as winter crops. They are grown in October or November. The crops are then harvested in spring. These crops require frequent irrigation because they are grown in dry areas. Wheat, gram, and barley are some of the rabi crops grown in India.</p>
    <button class="faq-toggle">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>

  <!-- <div class="faq">
    <h3 class="faq-title">
      Lorem ipsum dolor sit amet.
    </h3>
    <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nobis, repellat neque non dicta
      fugiat veritatis sit delectus perspiciatis quis?</p>
    <button class="faq-toggle">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      Lorem ipsum dolor sit amet.
    </h3>
    <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nobis, repellat neque non dicta
      fugiat veritatis sit delectus perspiciatis quis?</p>
    <button class="faq-toggle">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      Lorem ipsum dolor sit amet.
    </h3>
    <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nobis, repellat neque non dicta
      fugiat veritatis sit delectus perspiciatis quis?</p>
    <button class="faq-toggle">
      <i class="fas fa-angle-down"></i>
    </button>
  </div> -->
</div>
</body>

<script src="/static/scripts/faq.js"></script>
</html>

