{% extends 'cc-layout.html' %}

{% block body %}

<div class="big-box" style="height:auto; background-image: linear-gradient(135deg, rgb(243,254,246) 0%, rgb(243,254,246) 14.286%,rgb(232,242,235) 14.286%, rgb(232,242,235) 28.572%,rgb(166,254,189) 28.572%, rgb(166,254,189) 42.858%,rgb(62,205,97) 42.858%, rgb(62,205,97) 57.144%,rgb(201,246,212) 57.144%, rgb(201,246,212) 71.43%,rgb(148,230,165) 71.43%, rgb(148,230,165) 85.716%,rgb(255,255,255) 85.716%, rgb(255,255,255) 100.002%);">

<img src="/static/img/agri bg3.jpg" alt="" class="img1"><img src="/static/img/agri bg8.jpg" alt="" class="img2"><p class="centered" id="title1">An Automated ML Approach for Crop Recommendation and Yield Prediction.</p>

    <p class="p1"> <img src="/static/img/branch.gif" alt="" id="branch"> Features <img src="/static/img/tractor.gif" alt="" id="branch1"> </p>

    <!-- <p style="font-size:45px; color:lime; text-align: center; font-weight:600;">Features</p> -->

    <!-- carousel -->
    <div id="pSlider">
      <ol id="slider-container" dir="ltr">
        <li id="slide_1" class="li_slide">
          <div class="slide-snapper"></div>
          <div class="centered2">Grow the right crops.</div>
          <a class="prev_slide" href="#slide_4"></a> <a class="next_slide" href="#slide_2"></a> </li>
        <li id="slide_2" class="li_slide">
          <div class="slide-snapper"></div>
          <div class="centered2">Get the best yield.</div>
          <a class="prev_slide" href="#slide_1"></a> <a class="next_slide" href="#slide_3"></a> </li>
        <li id="slide_3" class="li_slide">
          <div class="slide-snapper"></div>
          <div class="centered2">Procure better profits.</div>
          <a class="prev_slide" href="#slide_2"></a> <a class="next_slide" href="#slide_4"></a> </li>
        <li id="slide_4" class="li_slide">
          <div  class="slide-snapper"></div>
          <div class="centered2">Implement the right way to farm.</div>
          <a class="prev_slide" href="#slide_3"></a> <a class="next_slide" href="#slide_1"></a> </li>
      </ol>
    </div>
      
      <!-- <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span>
        <span class="dot"></span> 
      </div> -->
    <!-- end of carousel -->

    <p class="p2">The Crop Connect project portrays two main features.</p>
    
    <!-- desktop view -->
    <section class="revealbox">
      <div class="container reveal fade-left">
        <h2>Crop Recommendation (CRM)</h2>
        <br>
        <div class="text-container">
          <div class="text-box">
            <h3>What is CRM ?</h3>
            <br>
            <p>
              Crop Recommendation is suggestions about crops that are given to agriculturalists based on the pH values, types of soil, the nutrient contents present in the soil and other characteristics. The crops planted based on the suggestions yield maximum profit. 
            </p>
          </div>
          <div class="text-box1">
            <img src="/static/img/agri bg.jpg" alt="" id="slbox">
          </div>
          
          <!-- <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div>
          <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div> -->
        </div>
      </div>
    </section>
    
    <section class="revealbox">
      <div class="container reveal fade-right">
        <h2>Crop Yield Prediction (CYP)</h2>
        <br>
        <div class="text-container">
          <div class="text-box1">
            <img src="/static/img/agri bg4.jpg" alt="" id="slbox">
          </div>
          <div class="text-box">
            <h3>What is CYP ?</h3>
            <br>
            <p>
              Crop yield prediction is an important aspect of agriculture that helps farmers make informed decisions about their crops. It involves estimating the number of crops that will be produced in a given area based on various factors such as soil type, weather conditions, and crop management practices.
            </p>
          </div>
          
          <!-- <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div>
          <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div> -->
        </div>
      </div>
    </section>
    
    <section class="revealbox">
      <div class="container reveal fade-bottom">
        <h2>How to Use?</h2>
        <h2>Instructions:</h2>
        <div class="text-container">
          <div class="text-box3">
            <h3>Crop Recommendation</h3>
            <br>
            <p>
              1. Test your soil for the nutrients and find out the N, P and K values of it and enter the values (mg/kg).
              <br><br>
              2. Enter the other important parameters relevant to ur farm accordingly as well.
              <br><br>
              3. Submit the form to be redirected to the result page where the prediction of the ideal crop to be grown in your farm is recommended.
            </p>
          </div>
          <div class="text-box3">
            <h3>Crop Yield Prediction</h3>
            <br>
            <p>
              1. Test your soil for the nutrients and find out the N, P and K values of it and enter the values (mg/kg).
              <br><br>
              2. Enter the other important parameters relevant to your farm accordingly as well.
              <br><br>
              3. Submit the form to be redirected to the result page where yield of the crop chosen to grow in your farm is predicted. 
            </p>
          </div>
          <div class="text-box3">
            <h3>View Crop Information</h3>
            <br>
            <p>
              1. Find the crop you want to view detailed information on and click on it.
              <br><br>
              2. It will redirect to a detailed information page on the crop.
              <br><br>
              3. Also, check out the FAQ page to view the frequently asked questions.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
    <!-- mobile view -->
    <div class="wrapper">
      <div class="card">
        <h3 class="card-title">Crop Recommendation</h3>
        <h3 class="card-title">C R M</h3>
        <hr><br>
          <p class="card-content">Crop Recommendation is suggestions about crops that are given to agriculturalists based on the pH values, types of soil, the nutrient contents present in the soil and other characteristics. The crops planted based on the suggestions yield maximum profit.</p>
          <br>
          <a href="/crm" style="text-decoration: none; color: white;"><button class="card-btn">TRY NOW</button></a>
        </div>
      <div class="card">
        <h3 class="card-title">Crop Yield Prediction</h3>
        <h3 class="card-title">C Y P</h3>
        <hr><br>
          <p class="card-content">Crop yield prediction is an important aspect of agriculture that helps farmers make informed decisions about their crops. It involves estimating the number of crops that will be produced in a given area based on various factors such as soil type, weather conditions, and crop management practices.</p>
          <br>
          <a href="/cyp" style="text-decoration: none; color: white;"><button class="card-btn">TRY NOW</button></a>
        </div>
      <div class="card">
          <h3 class="card-title">How to Use?</h3>
          <h3 class="card-title">Instructions:</h3>
          <hr><br>
            <p class="card-content">1. Test your soil for the nutrients and find out the N, P and K values of it and enter the values (mg/kg).
              <br><br>
              2. Enter the other important parameters relevant to ur farm accordingly as well.
              <br><br>
              3. For <b>CRM</b>, Submit the form to be redirected to the result page where the prediction of the ideal crop to be grown in your farm is recommended and further option to view detailed information on that crop is available.
              <br><br>
              4. For <b>CYP</b>, Submit the form to be redirected to the result page where yield of the crop chosen to grow in your farm is predicted.
              <br><br>
              5. To view crop information, find the crop you want to view detailed information on and click on it.
              <br><br>
              6. It will redirect to a detailed information page on the crop.
              <br><br>
              7. Check out the FAQ page to view the frequently asked questions.
            </p>
            <br>
            <!-- <button class="card-btn">TRY NOW</button> -->
          </div>  

    </div>


    <!-- <div class="box1">
    </div> -->

{% endblock %}