{% extends 'cc-layout.html' %} {% block body %}

<section class="home">
    <div class="centered">
        Crop Yield Prediction.
        <br>
        C Y P
    </div>
</section>

<div style="height: 1350px" class="poof">

  <!-- <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div> -->
    
    <h2 class="myH2">Determine the yield for the crop that can be grown in your farm.</h2>
    <div class="login-box">
        <form method="POST" action="{{ url_for('YieldPred') }}">
          <div class="user-box">
            <input type="number" name="nitrogen" id="Nitrogen" required="">
            <label>Nitrogen (N)</label>
          </div>
          <div class="user-box">
            <input type="number" name="phosphorous" id="Phosphorous" required="">
            <label>Phosphorus (P)</label>
          </div>
          <div class="user-box">
            <input type="number" name="pottasium" id="Potassium"  required="">
            <label>Pottasium (K)</label>
          </div>
          <div class="user-box">
            <input type="number" name="ph" id="ph" step="0.0001" required="">
            <label>pH level</label>
          </div>
          <div class="user-box">
            <input type="number" name="rainfall" id="Rainfall" step="0.0001" required="">
            <label>Rainfall(in mm)</label>
          </div>
          <div class="user-box">
            <input type="number" name="area" id="Area" step="0.0001" required="">
            <label>Area(in hectares)</label>
          </div>



          <div class="labelmaker">
            <label>State</label>
            <br>
            <select
              onchange="print_city('state', this.selectedIndex);"
              id="sts"
              name="stt"
              required
            ></select>
          </div> 

          <br> 

          <div class="labelmaker">  
            <label>City</label>
            <br>
            <select
              id="state"
              name="city"
              required
            ></select>
            <script language="javascript">
              print_state("sts");
            </script>
          </div>
          
          <br><br>
          
          <div class="labelmaker">
            <label>Crop</label>
            <br>
            <select id="selectCrop" name="crop" required>
              <option>Select Crop</option>
            </select>
          </div>

          <br><br>
          
          <button type="submit">
            Predict
          </button>

        </form>
    </div>
    
</div>

{% endblock %}