{% extends 'cc-layout.html' %} {% block body %}

<img src="/static/img/agri bg3.jpg" alt="" class="img1"><img src="/static/img/agri bg8.jpg" alt="" class="img2"><p class="centered" id="title1">Crop Yield Prediction<br> C Y P</p>

    <h2 class="myH2">Determine the yield for the crop that can be grown in your farm.</h2>
    <br><br><br>
    <div class="login-box">
        <form method="POST" action="{{ url_for('YieldPred') }}">
          <div class="user-box">
            <input type="number" name="nitrogen" id="Nitrogen" required min="0" max="125">
            <label>Nitrogen (N)</label>
          </div>
          <div class="user-box">
            <input type="number" name="phosphorous" id="Phosphorous" required min="0" max="125" >
            <label>Phosphorus (P)</label>
          </div>
          <div class="user-box">
            <input type="number" name="pottasium" id="Potassium"  required min="0" max="125">
            <label>Potassium (K)</label>
          </div>
          <div class="user-box">
            <input type="number" name="ph" id="ph" step="0.01" required min="0" max="14">
            <label>pH level</label>
          </div>
          <div class="user-box">
            <input type="number" name="rainfall" id="Rainfall" step="0.01" required min="0" max="500">
            <label>Rainfall(in mm)</label>
          </div>
          <div class="user-box">
            <input type="number" name="area" id="Area" step="0.01" required min="30" max="400">
            <label>Area(in hectares)</label>
          </div>



          <div class="labelmaker">
            <label>State</label>
            <br>
            <select
              onchange="print_city('state', this.selectedIndex);"
              id="sts"
              name="stt"
              required
            ></select>
          </div> 

          <br> 

          <div class="labelmaker">  
            <label>City</label>
            <br>
            <select
              id="state"
              name="city"
              required
            ></select>
            <script language="javascript">
              print_state("sts");
            </script>
          </div>
          
          <br><br>
          
          <div class="labelmaker">
            <label>Crop</label>
            <br>
            <select id="selectCrop" name="crop" required>
              <option>Select Crop</option>
            </select>
          </div>

          <br><br>
          
          <button type="submit">
            Predict
          </button>

        </form>
    </div>
    
    <div style="height:50px"></div>

{% endblock %}